{% extends "page_template.html" %}
{% block content %}
<div class="wrapper index">
  <div class="page-header">
    <!--h2 id="page-title">{{ page_title }}</h2-->
  </div>
  <div class="landing">

      <form id="searchBar" action="/search" method="post">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="category">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#Toys &amp; Games">Toys &amp; Games</a></li>
                          <li class="divider"></li>
                          <li><a href="#all">All departments</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="queryFilter" value="all" id="queryFilter">
                    <input type="text" class="form-control" name="queryText" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-default submit" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
      </form>

  </div>
</div>
{% endblock %}
